        * {
    /* With these codes padding and border does not increase it's width and gives intuitive style.*/
  
    -webkit-box-sizing: border-box;   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    #cl{color:red;font-family:comic sans MS;font-size:45px;}   /* title font */
    #bl{color:red;font-family:verdana;font-size:32px;}   /* Body text font */
    .bk{color:cyan;font-family:verdana;font-size:28px;}  /* Print message font */
    #lwidth{color:blue;}
   
    padding: 20px;
    } /* Password print font */
    #cr{color:teal;font-size:13px;}
.bttn {                               
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color:red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
  font-family:verdana;
  font-size: 13px;
  
}

.bttn:hover {
background-color: orange;}               

.bttn:active {
  background-color: #7a42f4;
  box-shadow: 0 4px #666;
  transform: translateY(2px);
}


html, body{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #3cad7e;
  font-family: 'Arial', sans-serif;
  color:white;
}
.body{
    margin:0px;
    background:#3cad7e;
}
.header-cont {
    width:100%;
    position:fixed;
    top:-36px;
    height:auto;
	;
}
#neon {
color: #FFF;
background-color: #E7E4E4;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
font-size:45px;
}

.rs{outline: 8px outset #3cad7e;
outline-offset: 0px;
	
height:45px;
    
    width:98%;
    margin:0px auto;
    
font-family:verdana;font-size:32px;text-align:center;
 }


.bk{font-family:verdana;font-size:28px;text-align:center;}  
#bash{font-family:verdana;font-size:28px;text-align:center; background:#3cad7e;color:white;}




/*css for custom textbox*/

}
.search-box,.close-icon,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.search-box {
  width: 99%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}
button
{
  height:auto;
  width:160px;
  border-radius:8px;
  padding:10px;
  font-size:20px;
  font-family: 'Oswald', sans-serif;
  height:52px;
  cursor:pointer;
  background-color:wheat;
   border: none;
  border-radius: 15px;
}
